<!--FIle:fileSubmission.view.html
Uses fileSubmission.controller.js
-->

<link rel="stylesheet" type="text/css" href="../../css/site.css">
<div class="container" id="fileSubmissionContainer" ng-app="myApp" ng-controller="fileSubmission"
     xmlns="http://www.w3.org/1999/html">
    <!--<ng-include src="'./views/pagination.html'"></ng-include>-->
    <form>
        <div>
            <div class="col-xs-12">
                <h1>file submission</h1>
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <ng-include src="'./utility/attachments/attachments.view.html'"></ng-include>
                </div>
            </div>
        </fieldset>
    </form>

    <table>
        </thead>
        <tr ng-repeat="contact in mentorContacts track by $index" style="outline: thin solid">
            <td style="width:100px">
                <table>
                    <input type="date" ng-disabled="!editContacts" class="form-control"
                           ng-model="contact.ContactDate">

                    <input type="text" ng-disabled="!editContacts" class="form-control"
                           ng-model="contact.MentorContactType">

                    <input type="text" ng-disabled="!editContacts" class="form-control" ng-model="contact.MentorName">
                </table>
            </td>
            <td>
                        <textarea rows="3" style="min-width: 100%" class="form-control" ng-disabled="!editContacts"
                                  ng-model="contact.MentorContactNote"></textarea>
            </td>
            <td style="width:100px">
                <button ng-click="deleteContact($index)" class="btn btnDelete" ng-disabled="!editContacts"> Delete</button>

            </td>
        </tr>
    </table>
</div>
<!--<div class="container"  ng-controller="fileSubmissionController">
    <form>
        <div>
            <div class="col-xs-12">
                <h1>file submission</h1>
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <ng-include src="'./utility/attachments/attachments.view.html'"></ng-include>
                </div>
            </div>
        </fieldset>
    </form>

    <table>
        </thead>
        <tr ng-repeat="name in testData track by $index" style="outline: thin solid">
            <td>{{name}}</td>
        </tr>
    </table>

    <h1>  Hey Michael this works!</h1>




</div>-->