<!--FIle:fileSubmission.view.html
Uses fileSubmission.controller.js
-->

<link rel="stylesheet" type="text/css" href="../../css/site.css">
<!--<div class="container" id="fileSubmissionContainer" ng-app="myApp" ng-controller="fileSubmission"
     xmlns="http://www.w3.org/1999/html">-->
    <!--<ng-include src="'./views/pagination.html'"></ng-include>-->
<div ng-controller="fileSubmissionController">

    <h1>{{TableDescription}}</h1>
    <div class="alert alert-danger" ng-show="lookupError">
        Lookup Options  failed to load ({{lookupError.status}}).
    </div>

    <table id="lookupTable" class="table minerva-table" >
        <thead>
        <tr> <th ng-repeat="(fieldName,value) in lookupTable[0]" ng-if="(fieldName !='fkSiteID' && fieldName !='AutoID')">
            {{fieldName}}</th>
            <th></th>
        </tr>
        </thead>

        <tr ng-repeat="row in lookupTable track by $index" ng-init="parentIndex = $index"
            ng-class="{danger:editOption && editOption.id==($index+1)}">

            <td ng-repeat="(fieldName, value) in row" ng-if="(fieldName !='fkSiteID' && fieldName !='AutoID')">
                <span ng-if="!(editOption.id && editOption.id== (parentIndex+1))">
                    {{value}}
                </span>
                <span ng-if="(editOption.id==(parentIndex+1))">
                     <input ng-model="editFields[fieldName]"  required />
                </span>
            </td>

            <td>
                <button ng-click="startEdit($index+1)" class="btn btnEdit"
                        ng-hide="editOption.id">
                    Edit
                </button>
                <button ng-click="deleteOption($index+1)" class="btn btnDelete"
                        ng-hide="editOption.id">
                    Delete
                </button>

                <button ng-show="editOption.id && editOption.id== ($index+1)"
                        ng-click="saveChanges()"
                        class="btn btnSave">
                    Save
                </button>
                <button ng-show="editOption.id && editOption.id== ($index+1)"
                        ng-click="cancelEdit()" class="btn btnCancel">
                    Cancel
                </button>
            </td>

        </tr>
        <tr ng-class="{danger: editOption}" ng-hide="editOption.id">
            <td ng-repeat="(fieldName, value) in editFields"  ng-if="(fieldName !='fkSiteID' && fieldName !='AutoID')">
                <input  ng-model="editFields[fieldName]"  required />
            </td>

            <td>
                <button ng-hide="editOption.id"
                        ng-click="createOption()"
                        class="btn btnCreate">
                    Create
                </button>

            </td>
        </tr>
    </table>



</div>
<div class="container"  ng-controller="fileSubmissionController">

    <!--
    <h1>Manage Documents</h1>
    <table id="goalsTable" class="table minerva-table">
        <thead>
        <tr>
            <th colspan="4"> Manage Documents
                <button class="btn btn-outline-primary"
                        ng-click="updatePermissionsInDatabase()">Save</button>
                <button class="btn btnCancel"  > Cancel</button>
            </th>
        </tr>
        </thead>
        <tr>
            <th>Required Documents</th>
            <th>Document</th>
            <th>Type</th>
            <th>Notes</th>
        </tr>

<tr ng-repeat="document in documents">
    <td align="center"
        class="text-center">
        <input ng-model="document.enabled"
               ng-checked="document.enabled"
               ng-change="togglePermission(document)"
               type="checkbox"
               class="td-center-checkbox" />
    </td>
    <td>{{document.docName}}</td>
    <td>{{document.type}}</td>
    <td>{{document.note}}</td>
</tr>

    </table>-->

    <!--<button class="btn btn-outline-primary"
            ng-click="updatePermissionsInDatabase()">Save</button>-->

</div>
