<!--lead-follow.view.html-->
<!--view page for Lead/Follow Residental tab-->
<!--fields that can be updated are autoloaded with current values,-->
<!--past values for duty,inspection,position,and rank are also displayed-->

<!--load app.controller from leadFollowCtrl.js-->
<div class="well container infoContainer" id="lfContainer">
    <div ng-controller="leadFollowController">
        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Tasks</h3></th>
                <th style="text-align: right">
                    <div id="editButtonTasks">
                        <button class="btn btn-outline-primary" ng-disabled="!editTasks"
                                ng-click="editSection('tasks')">Edit
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Tasks-->
        <div class="well text-center">
            <form>
                <!--table to edit&display tasks from coreComponentTasks&cadetClassEvents-->
                <table>
                    <tr>
                        <th>Tasks</th>
                        <th>Description</th>
                        <th>Last Activity</th>
                        <th>Pass/Fail</th>
                        <th>Note</th>
                    </tr>
                    <!--iterate through each instance in scope from controller-->
                    <tr ng-repeat="task in tasks">
                        <td>{{task.TaskNumber}}</td>
                        <td class="text-left">{{task.Task}}</td>
                        <!--editable fields for cadetClassEvents-->
                        <td><input id="date" type="date" placeholder="MM/DD/YYYY" ng-model="task.EventDate"  ng-disabled="editTasks"></td>
                        <td><input name="DidPass" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-model="task.DidPass"  ng-disabled="editTasks"></td>
                        <td><textarea name="EventNote" rows="1" c wrap="off" ng-model="task.EventNote"  ng-disabled="editTasks"></textarea></td>
                    </tr>
                </table>
                <div id="taskSaveCancelButtons">
                    <button class="btn btn-outline-primary" ng-click="saveSection('tasks')" ng-disabled="editTasks">Save</button>
                    <button class="btn btn-outline-danger" ng-click="cancelUpdate('tasks')" ng-disabled="editTasks">Cancel</button>
                </div>
            </form>
        </div>


        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Duties</h3></th>
                <th style="text-align: right">
                    <div id="editButtonDuties">
                        <button class="btn btn-outline-primary" ng-disabled="!editDuty"
                                ng-click="editSection('duties')">Edit
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Duties-->
        <div class="well container infoContainer text-center" style="border: 1px solid white">
            <!--creates new duty entry-->
            <!--<h6 style="text-align: left;">Add Duty</h6>-->

            <br>
            <!--displays all duty instances-->
            <div class="well container infoContainer text-center" style="border: 1px solid white">
                <table>
                    <tr>
                        <th>Duties:</th>
                        <th>Failed:</th>
                        <th>Start Date:</th>
                        <th>End Date:</th>
                        <th>Note:</th>
                    </tr>
                    <tr ng-repeat="duty in duties">
                        <td>{{duty.JobPosition}}</td>
                        <td><input name="DutyDidFail" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-model="duty.DutyDidFail" ng-disabled="editDuty"></td>
                        <td><input name="DutyStartDate" type="date" placeholder="MM/DD/YYYY"
                                   ng-model="duty.DutyStartDate" ng-disabled="editDuty"></td>
                        <td><input name="DutyEndDate" type="date" placeholder="MM/DD/YYYY" ng-model="duty.DutyEndDate"
                                   ng-disabled="editDuty"></td>
                        <td><input name="DutyNote" type="text" ng-model="duty.DutyNote" ng-disabled="editDuty"
                                   style="width:500px"></td>
                        <td>
                            <button id=deleteButton" class="btn btn-danger" ng-disabled="editDuty"
                                    ng-click="deleteDuty($index)">delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <button id="addDutyButton" class="btn btn-link" ng-click="addElement('duties')" style="margin: 0 auto">+Add Duty</button>
            <form id="dutyAdd">
                <table>
                    <tr>
                        <th><label>Duties: </label>
                            <!--dropdown options from tlkpJBDutyPosition-->
                            <select id="1" ng-model="duty.JobPosition" name="JobPosition"
                                    ng-options="option.DutyPosition for option in DutyPositionOptions track by option.id"
                                    ng-change="changeJobPosition(duty.JobPosition)" ng-disabled="addDuty"></select>
                        </th>
                        <th><label>Failed: </label>
                            <input id="2" name="DutyDidFail: " type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-model="duty.DutyDidFail" ng-disabled="addDuty"></th>
                        <th><label>Start Date: </label>
                            <input class="LF-Date" id="3" name="DutyStartDate" type="date" placeholder="MM/DD/YYYY"
                                   ng-model="duty.DutyStartDate" ng-disabled="addDuty"></th>
                        <th><label>End Date: </label>
                            <input class="LF-Date" id="4" name="DutyEndDate" type="date" placeholder="MM/DD/YYYY"
                                   ng-model="duty.DutyEndDate" ng-disabled="addDuty"></th>
                        <th><label>Note: </label>
                            <input id="5" name="DutyNote" type="text" ng-model="duty.DutyNote" ng-disabled="addDuty"
                                   style="width:500px"></th>
                    </tr>
                </table>
            </form>
            <div id="saveCancelAddDutyButtons">
                <button class="btn btn-outline-primary" ng-click="CreateDuty()" style="margin: 0 auto" >Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelAddElement('duties')" style="margin: 0 auto">Cancel</button>
            </div>
            <div id="dutySaveCancelButtons"><!--2/26 - changed updateDuty() to saveSection('duties')-->
                <button class="btn btn-outline-primary" ng-click="saveSection('duties')" ng-disabled="editDuty">Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate('duties')" ng-disabled="editDuty">Cancel</button>
            </div>
        </div>

        <br>

        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Inspections</h3></th>
                <th style="text-align: right">
                    <div id="editButtonInspections">
                        <button class="btn btn-outline-primary"   ng-disabled="!editInspect"
                                ng-click="editSection('inspections')">Edit
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <div class="well container infoContainer text-center" style="border: 1px solid white">
		    <div class="well container infoContainer text-center" style="border: 1px solid white">
			    <table style="width:100%">
				    <tr>
					    <th>Date</th>
					    <th>Inspection Type</th>
					    <th>Passed</th>
					    <th>Merit Adj</th>
					    <th>Note</th>
				    </tr>
				    <tr ng-repeat="inspect in inspections">
					    <td><input name=InspectionDate type="date" placeholder="MM/DD/YYYY"
                               ng-model="inspect.InspectionDate" ng-disabled="editInspect"></td>
					    <td>{{inspect.JBInspectionType}}</td>
					    <td><input name="DidPassInspection" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                               ng-model="inspect.DidPassInspection" ng-disabled="editInspect"></td>
					    <td>{{inspect.InspMeritAdj}}</td>
                        <td><input name="InspectionNote" type="text" ng-model="inspect.InspectionNote" ng-disabled="editInspect"></td>
                        <td>
                            <button id=deleteInspectBtn" class="btn btn-danger" ng-disabled="editInspect"
                                ng-click="deleteInspect($index)">delete
                            </button>
                        </td>
				    </tr>
			    </table>
	    	</div>
            <button id="addInspectButton" class="btn btn-link" ng-click="addElement('inspections')" style="margin: 0 auto">+Add Inspection</button>
            <form id="inspectAdd">
                <table style="width:100%">
                    <tr>
                        <th><label>Date: </label>
                            <input class="LF-Date" id="i1" name="InspectionDate" type="date" placeholder="MM/DD/YYYY"
                                ng-model="inspect.InspectionDate" ng-disabled="addInspect"></th>
                        <th><label>Inspection Type: </label>
                        <!--dropdown options from tlkpJBInspectionType-->
                        <select id="i2" ng-model="inspect.JBInspectionType" name="JBInspectionType"
                                ng-options="option.InspectionType for option in InspectionTypeOptions track by option.id"
                                ng-change="changeInspectionType(inspect.JBInspectionType)" ng-disabled="addInspect"></select></th>
                        <th><label>Passed: </label>
                            <input id="i3" name="DidPassInspection" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                ng-model="inspect.DidPassInspection" ng-disabled="addInspect"></th>
                        <th><label>Merit Adj: </label>
                            <input id="i4" name="InspMeritAdj" type="text" ng-model="inspect.InspMeritAdj" ng-disabled="addInspect"></th>
                        <th><label>Note:  </label>
                            <input id="i5" name="InspectionNote" type="text" ng-model="inspect.InspectionNote" ng-disabled="addInspect"></th>
                    </tr>
                </table>
            </form>
            <div id="saveCancelAddInspectButtons">
                <button class="btn btn-outline-primary" ng-click="CreateInspect()" style="margin: 0 auto" >Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelAddElement('inspections')" style="margin: 0 auto">Cancel</button>
            </div>
			<div id="inspectSaveCancelButtons"><!--2/26 - changed updateInspect() to saveSection('inspection')-->
                <button class="btn btn-outline-primary" ng-click="saveSection('inspections')" ng-disabled="editInspect">Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate('inspections')" ng-disabled="editInspect">Cancel</button>
            </div>
		</div>
    </span>
        <hr/>

        <br>
        <!--displays all inspection instances-->

        <br>

        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Positions</h3></th>
                <th style="text-align: right">
                    <div id="editButtonPositions">
                        <button class="btn btn-outline-primary" ng-disabled="!editPosit"
                                ng-click="editSection('positions')">Edit
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Positions-->
        <div class="well container infoContainer text-center" style="border: 1px solid white">
            <!--dispalys all position instances-->
            <div class="well container infoContainer text-center" style="border: 1px solid white">
                <table style="width:100%">
                    <tr>
                        <th>Position</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Note</th>
                        <th>Failed</th>
                    </tr>
                    <tr ng-repeat="posit in pos">
                        <td>{{posit.JBPosition}}</td>
                        <td><input name=PosStartDate type="date" ng-disabled="editPosit" ng-model="posit.PosStartDate">
                        </td>
                        <td><input name=PosEndDate type="date" ng-disabled="editPosit" ng-model="posit.PosEndDate"></td>
                        <td><input name="PosNote" type="text" ng-disabled="editPosit" ng-model="posit.PosNote"></td>
                        <td><input name="PosDidFail" type="checkbox" ng-disabled="editPosit" ng-true-value="'1'"
                                   ng-false-value="'0'" ng-model="posit.PosDidFail"></td>
                        <td>
                            <button id=deletePositbtn" class="btn btn-danger" ng-disabled="editPosit"
                                    ng-click="deletePosit($index)">delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <button id="addPositButton" class="btn btn-link" ng-click="addElement('positions')" style="margin: 0 auto">+Add Position</button>
            <form id = "positAdd">
                <table style="width:100%">
                    <tr>
                        <th><label>Position: </label>
                            <!--dropdown options from tlkpJBPosition-->
                            <select id= "p1" ng-model="posit.JBPosition" name="JBPosition" ng-disabled = "addPosit"
                                    ng-options="option.JBPosition for option in JBPositionOptions track by option.id"
                                    ng-change="changeJBPosition(posit.JBPosition)"></select></th>
                        <th><label>Start Date: </label>
                            <input class="LF-Date" id= "p2" name="PosStartDate" type="date" placeholder="MM/DD/YYYY" ng-disabled="addPosit"
                                   ng-model="posit.PosStartDate"></th>
                        <th><label>End Date: </label>
                            <input class="LF-Date" id= "p3" name="PosEndDate" type="date" ng-disabled="addPosit" ng-model="posit.PosEndDate">
                        </th>
                        <th><label>Note: </label>
                            <input id= "p4" name="PosNote" type="text" ng-disabled="addPosit" ng-model="posit.PosNote"></th>
                        <th><label>Failed: </label>
                            <input id= "p5" name="PosDidFail: " type="checkbox" ng-disabled="addPosit" ng-true-value="'1'"
                                   ng-false-value="'0'" ng-model="posit.PosDidFail"></th>
                    </tr>
                </table>
            </form>
            <div id="saveCancelAddPositButtons">
                <button class="btn btn-outline-primary" ng-click="CreatePosit()" style="margin: 0 auto" >Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelAddElement('positions')" style="margin: 0 auto">Cancel</button>
            </div>
            <div id="positionSaveCancelButtons">
                <button class="btn btn-outline-primary" ng-click="saveSection('positions')" ng-disabled="editPosit">Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate('positions')" ng-disabled="editPosit">Cancel</button>
            </div>
        </div>
        <br>
        <hr>
        <br>

        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Ranks</h3></th>
                <th style="text-align: right">
                    <div id="editButtonRanks">
                        <button class="btn btn-outline-primary" ng-disabled="!editRank"
                                ng-click="editSection('ranks')">Edit
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Ranks-->
        <div class="well container infoContainer text-center" style="border: 1px solid white">
            <!--creates new rank entry-->
            <!--dispalys all rank instances-->
            <div class="well container infoContainer text-center" style="border: 1px solid white">
                <table style="width:100%">
                    <tr>
                        <th>Rank</th>
                        <th>Date Obtained</th>
                        <th>Note</th>
                        <th>Failed</th>
                    </tr>
                    <tr ng-repeat="rEvent in rank">
                        <td>{{rEvent.JBRank}}</td>
                        <td><input name="RankObtainedDate" type="date" ng-disabled="editRank"
                                   ng-model="rEvent.RankObtainedDate"></td>
                        <td><input name="RankPromotionNote" type="text" ng-disabled="editRank"
                                   ng-model="rEvent.RankPromotionNote"></td>
                        <td><input name="RankDidFail" type="checkbox" ng-disabled="editRank" ng-true-value="'1'"
                                   ng-false-value="'0'" ng-model="rEvent.RankDidFail"></td>
                        <td>
                            <button id=deleteRankbtn" class="btn btn-danger" ng-disabled="editRank"
                                ng-click="deleteRank($index)">delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <button id="addRankButton" class="btn btn-link" ng-click="addElement('ranks')" style="margin: 0 auto">+Add Rank</button>
            <form id="rankAdd">
                <table style="width:100%">
                    <tr>
                        <th><label>Rank: </label>
                            <!--dropdown options from tlkpJBRank-->
                            <select id= "r1" ng-disabled="addRank" ng-model="rEvent.JBRank" name="JBRank"
                                    ng-options="option.RankObtained for option in RankOptions track by option.id"
                                    ng-change="changeRank(rEvent.JBRank)"></select></th>
                        <th><label>Date Obtained: </label>
                            <input class="LF-Date" id= "r2" name="RankObtainedDate" type="date" ng-disabled="addRank"
                                   ng-model="rEvent.RankObtainedDate"></th>
                        <th><label>Note: </label>
                            <input id= "r3" name="RankPromotionNote" type="text" ng-disabled="addRank"
                                ng-model="rEvent.RankPromotionNote"></th>
                        <th><label>Failed: </label>
                            <input id= "r4" name="RankDidFail: " type="checkbox" ng-disabled="addRank" ng-true-value="'1'"
                                ng-false-value="'0'" ng-model="rEvent.RankDidFail">
                    </tr>
                </table>
            </form>
            <div id="saveCancelAddRankButtons">
                <button class="btn btn-outline-primary" ng-click="CreateRank()" style="margin: 0 auto" >Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelAddElement('ranks')" style="margin: 0 auto">Cancel</button>
            </div>
            <div id="rankSaveCancelButtons">
                <button class="btn btn-outline-primary" ng-click="saveSection('ranks')" ng-disabled="editRank">Save</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate('ranks')" ng-disabled="editRank">Cancel</button>
            </div>
        </div>
        <br>
    </div>
</div>