
<style>
    #siteForm label
    {
    .form-inline;
    }

</style>


<div ng-controller="newSite">
    <ng-include src="'./views/pagination.html'"></ng-include>
    <h2>Site Specifics</h2>

    <form name="siteForm" class="form-inline" id="siteForm" novalidate>

        <div class="well">
            <strong>Site Name and Code</strong> <br>
            <div class="form-group"><label>SiteID </label>
                <input name="SiteID" class ="form-control m-2"
                       maxlength={{site.SiteID.length}} size={{site.SiteID.length}} ng-disabled="true" />

                <label >Name</label>
                <input name="SiteName"  class="form-control m-2"
                       maxlength={{site.SiteName.length}} size= {{site.SiteName.length}} required />
                <span class="error" ng-show="siteForm.SiteName.$error.required">
                </span>

                <label  class=" mb-2 mr-sm-2">Code</label>
                <input name="SiteCode" class="form-control m-2"
                       maxlength={{site.SiteCode.length}} size={{site.SiteCode.length}} required/>
                <span class="error" ng-show="siteForm.SiteCode.$error.required">
                 </span>
            </div>
            <hr>
            <h3>Contact Information</h3>
            <div class="form-group">
                <label> Address
                    <input name="SiteAddress" class="form-control m-2"
                           maxlength={{site.SiteAddress.length}} size={{site.SiteAddress.length}}>
                </label>

                <label>City
                    <input name="SiteCity" class="form-control  m-2"
                           maxlength={{site.SiteCity.length}} size={{site.SiteCity.length}}
                           >
                </label>

                <label>State
                    <input name="SiteState" class="form-control m-2"
                           maxlength={{site.SiteState.length}} size={{site.SiteState.length}}
                           >
                </label>

                <label>Zip
                    <input name="SiteZip" class="form-control m-2"
                           maxlength={{site.SiteZip.length}} size={{site.SiteZip.length}}>
                </label>
            </div>
            <!--
                        <table class="ziptable" >
                            <tr><th>Zip</th><th>City</th><th>State</th></tr>
                            <tr ng-repeat="item in zipcodes"  ng-click="setZip(item)" id="tr-{{$index}}">
                                <td>{{item.ZIPCode}}</td>
                                <td>{{item.CityName}}</td>
                                <td>{{item.StateAbbr}}</td>
                            </tr>
                        </table>

                    -->
            <div class="form-group">
                <label>Phone
                    <input type="tel" name="SitePhone" class="form-control m-2"
                           maxlength={{site.SitePhone.length}} size={{site.SitePhone.length+2}}>
                </label>

                <label>Fax
                    <input type="tel" name="SiteFax" class="form-control m-2"
                           maxlength={{site.SiteFax.length}} size={{site.SiteFax.length+2}}>
                </label>
            </div>

            <hr>
            <h3>Other Information</h3>
            <div class="form-group">
                <label>School Type
                    <!--<input name="SchoolType" class="form-control" ng-model="site.SchoolType"> -->
                    <select   name="SchoolType"
                             ng-options="option.SchoolType for option in schoolTypeOptions track by option.id"
                             ng-change="changeSchoolType(schoolTypeSelected)">
                    </select>
                </label>

                <label>Starting NGB
                    <input name="StartingNGB" class="form-control m-2"
                           maxlength={{site.StartingNGB.length}} size={{site.StartingNGB.length}}>
                </label>

                <label>Background Check Source
                    <input name="BackgroundChkSrc" class="form-control m-2"
                           maxlength={{site.BackgroundChkSrc.length}} size={{site.BackgroundChkSrc.length}}>
                </label>
            </div>
            <div class="form-group">
                <label>Default TABE Version </label>
                <!--<input name="DefaultTABEVers" class="form-control" ng-model="site.DefaultTABEVers">-->
                <select   name="DefaultTABEVers"
                         ng-options="option.TABEVersion for option in defaultTABEVersOptions track by option.id"
                         ng-change="changeDefaultTABEVers(changeDefaultTABEVersSelected)">
                </select>


                <label>Unions Count
                    <input name="UnionsCount" class="form-control m-2"
                           maxlength={{site.UnionsCount.length}} size={{site.UnionsCount.length}}>
                </label>
            </div>



            <div class="form-group">
                <label>Site Logo</label>
                <input name="SiteLogo" class="form-control m-2"  ng-disabled="true"
                       maxlength={{site.SiteLogo.length}} size="15">

                <br/> Select an image from the images/logos folder:<br/>
                <select ng-model="logoSelected"
                        ng-options="logo as logo.filename for logo in logoOptions track by logo.id"
                        ng-change="changeLogo(logoSelected)">
                    <option value="">Select Logo: </option>
                </select>

                <img src="{{site.SiteLogoImage}}"  style="width:128px;height:128px;"/>
            </div>
            <div class="well">
                <div class="checkbox-incline">
                    <input type="checkbox" name="USDASchoolLunch"
                           ng-true-value="'1'" />
                    USDA School Lunch
                </div>
                <div class="checkbox-incline">

                    <input type="checkbox" name="StudentGovt"
                           ng-true-value="'1'"/>
                    Student Government

                </div>
                <div class="checkbox-incline">

                    <input type="checkbox" name="Sec501c3AltFunding"
                           ng-true-value="'1'"/>
                    Sec 501c3 Alt Funding

                </div>
                <div class="checkbox-incline">

                    <input type="checkbox" name="Sec501c3Foundation"
                           ng-true-value="'1'"/>
                    Sec 501c3 Foundataion

                </div>
                <div class="checkbox-incline">
                    <input type="checkbox" name="RequireSSN"
                           ng-true-value="'1'"  />
                    Require SSN
                </div>



            </div>
            <hr>
                <button type="button"
                        ng-click="saveNewSite()"
                        class="btn btnSave"> Save</button>
                <button
                        type ="button"
                        ng-click="cancelNewSite()"
                        class="btn btnCancel"> Cancel</button>

        </div> <!--Well-->
    </form>


</div>