<!--job-skills.view.html-->
<!--view page for JobSkills tab-->
<!-- Programmer: Kevin Krider -->
<!-- This code shares a scope with jobSkillsController.js -->
<!--fields that can be updated are autoloaded with current values from the database-->
<!-- The page takes no input other than a cadetID in local session storage. It can update the associated database.-->

<div class="well container infoContainer" id="jscontainer">
    <h3>Job Skills</h3>
    <!--load app.controller from JobSkillsCtrl.js-->

    <div ng-controller="jobSkillsController">
        <!--name form for two way binding-->
        <form name="JobSkillsForm">
            <table id="JobSkillsEvents" class="table minerva-table">
                <thead>
                <tr>
                    <th colspan="5">TASKS</th>
                </tr>
                </thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Last Activity</th>
                    <th>Pass?</th>
                    <th>Note</th>
                </tr>
                <!--iterate through each instance in scope from controller-->
                <tr ng-repeat="task in tasks">
                    <!-- task number and task name will not be able to be changed by the user -->
                    <td>{{task.TaskNumber}}</td>
                    <td>{{task.Task}}</td>

                    <td>
                        <!--Task 2(a) can only be updated from the second table, otherwise funky wierd stuff happens -->
                        <span ng-if="!hasTests(task)"><input name="EventDate" type="date"
                                                             ng-model="task.EventDate"></span>
                        <span ng-if="hasTests(task)"><input name="EventDate" type="date" ng-model="task.EventDate"
                                                            ng-readonly="true"></span>
                    </td>

                    <!--Task 2(a) can only be updated from the second table, otherwise funky wierd stuff happens -->
                    <td ng-if="!hasTests(task) && task.DidPass == '1'" class="bg-success text-center">
                        <input style="width:20px; height:20px;" name="DidPass" type="checkbox" ng-model="task.DidPass"
                               ng-true-value="'1'" ng-false-value="'0'">
                    </td>

                    <td ng-if="!hasTests(task) && task.DidPass == '0'" class="bg-danger text-center">
                        <input style="width:20px; height:20px;" name="DidPass" type="checkbox" ng-model="task.DidPass"
                               ng-true-value="'1'" ng-false-value="'0'">
                    </td>


                    <!-- Get Date and Pass Status from Tests -->
                    <td ng-if="hasTests(task) && task.DidPass == '1'" class="bg-success text-center">
                        <input style="width:20px; height:20px;" name="DidPass" type="checkbox" ng-model="task.DidPass"
                               ng-true-value="'1'" ng-false-value="'0'" ng-disabled="true">
                    </td>

                    <td ng-if="hasTests(task) && task.DidPass == '0'" class="bg-danger text-center">
                        <input style="width:20px; height:20px;" name="DidPass" type="checkbox" ng-model="task.DidPass"
                               ng-true-value="'1'" ng-false-value="'0'" ng-disabled="true">
                    </td>


                    <td>
                        <!--Task 2(a) can only be updated from the second table, otherwise funky wierd stuff happens -->
                        <span ng-if="!hasTests(task)"><input name="EventNote" type="text"
                                                             ng-model="task.EventNote"></span>
                        <span ng-if="hasTests(task)"> See Tests</span>
                        <!-- <span ng-if="task.TaskNumber=='2(a)'"> See Tests</span> -->
                    </td>


                </tr>
            </table>


            <!-- Second table containing the subtests 2(a)-->
            <table id="JobSkillsTests" class="table minerva-table">
                <thead>
                <tr>
                    <th colspan="5">2(A) TESTS</th>
                </tr>
                </thead>
                <tr>
                    <th>Test Name</th>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Pass?</th>
                    <th>Note</th>
                </tr>
                <tr ng-repeat="test in tests">
                    <td>{{test.TaskTest}}</td>
                    <td><input name="EventDate" type="date" ng-model="test.EventDate"></td>
                    <td><input name="Score" type="text" ng-model="test.TestScore"></td>
                    <td ng-if="test.DidPass == '1'" class="bg-success text-center">
                        <input style="width:20px; height:20px;" name="DidPass" type="checkbox" ng-model="test.DidPass"
                               ng-true-value="'1'" ng-false-value="'0'">
                    </td>

                    <td ng-if="test.DidPass == '0'" class="bg-danger text-center">
                        <input style="width:20px; height:20px;" name="DidPass" type="checkbox" ng-model="test.DidPass"
                               ng-true-value="'1'" ng-false-value="'0'">
                    </td>

                    <td><input name="EventNote" type="text" ng-model="test.EventNote"></td>

                </tr>
            </table>
            <br>
        </form>


    <table id="ASVABTests" class="table minerva-table">
        <thead>
        <tr>
            <th colspan="4"> ASVAB</th>
        </tr>
        </thead>
        <tr>
            <th>Date</th>
            <th>Technical Score</th>
            <th>AFQT Score</th>
            <th>Note</th>
        </tr>
        <tr ng-repeat="asvab in asvabs">
            <td><input name="ASVABDate" type="date" ng-model="asvab.ASVABDate"></td>
            <td><input name="ASVABTechScore" type="text" ng-model="asvab.ASVABTechScore"></td>
            <td><input name="AFQTScore" type="text" ng-model="asvab.AFQTScore"></td>
            <td><input name="ASVABTestNotes" type="text" ng-model="asvab.ASVABTestNotes" data-ng-bind="note"></td>
        </tr>

    </table>
        <!-- The third table, containing asvab scores -->
        <button class="btn btnCreate" ng-click="addASVAB()" style="margin: 0 auto" ng-hide="showNewAsvab"> Add ASVAB Score</button>
        <form id="asvabAdd"  ng-show="showNewAsvab">
            <table style="width:100%">
                <tr>
                    <th><label>Date:
                    </label><input name="ASVABDate" type="date"
                                   ng-model="asvab.ASVABDate" >
                    </th>
                    <th><label>Technical Score: </label>
                        <input name="ASVABTechScore" type="text"
                               ng-model="asvab.ASVABTechScore" >
                    </th>
                    <th><label>AFQT Score: </label>
                        <input name="AFQTScore" type="text"
                               ng-model="asvab.AFQTScore"></th>
                    <th><label>Note: </label>
                        <input name="ASVABTestNotes" type="text"
                               ng-model="asvab.ASVABTestNotes" ></th>
                </tr>
            </table>
        </form>

    <button class="btn btnSave" ng-click="update(tasks,tests,asvabs)"> Save</button>
    <button class="btn btnCancel" ng-click="cancelUpdate()"> Cancel</button>


</div>

</div>