<!-- File: s2c.view.html
   used with s2c.controller
 -->

<div class="well container text-center infoContainer " id="stcContainer">
	<h3>Service to Community</h3>
	<!--load app.controller from healthHygCtrl.js-->
	<div ng-controller="s2cController">
	<table>
		<tr>
			<th>Task</th>
			<th>Description</th>
			<th>Last Activity</th>
			<th>Pass/Fail</th>
			<th>Note</th>
		</tr> 
		<!--iterate through each instance in scope from controller-->
		<tr ng-repeat="task in tasks" class="error"> 
			<td>{{task.TaskNumber}}</td>
			<td>{{task.Task}}</td>
			<td>{{task.EventDate}}</td>
			<td>{{task.DidPass}}</td>
			<td>{{task.EventNote}}</td>
		</tr>
		<tr>
			<th>Test</th>
			<th>Last Activity</th>
			<th>Pass/Fail</th>
			<th>Score</th>
			<th>Note</th>
		</tr> 
		<!--iterate through each instance in scope from controller-->
		<tr ng-repeat="test in tests" class="error"> 
			<td>{{test.TaskTest}}</td>
			<td>{{test.EventDate}}</td>
			<td>{{test.DidPass}}<input type="checkbox" ng-true-value="1" ng-false-value="0"></td>
			<td>{{test.TestScore}}</td>
			<td>{{test.EventNote}}</td>
		</tr>
	</table>
	</div>
</div>