<div ng-app="myApp" ng-controller="recController">
    <ng-include src="'./views/pagination.html'"></ng-include>
    
    <h1>Recruiter</h1>
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column">
                <button ng-repeat="item in recruiterViews"
                        type="button"
                        ng-click="showView(item)"
                        class="btn btn-outline-primary"
                        >
                        {{item.view}}
                </button>
              
                <button type="button" class="btn btn-outline-primary" ng-click="openFindCadetView()"> View Applicants (Windowed)</button>
        </div>
        <div class="col-md-10">
            <ng-include src="updateDisplay"></ng-include>
        </div>
    </div>
</div>