<!--site-viewcadets.html-->
<!--view page for Admin  tab-->
<!-- Programmer: Lauren Alibey -->
<!-- This code shares a scope with site.viewCadets.controller.js -->
<!--load app.controller from ViewCadetsController.js-->
<body id="printSectionId" ng-app="siteViewCadets">
<div ng-controller = "viewCadets">
    <div class = "row" id="print">
        <div class="dropdown">
            <button class="btn btnEdit" ng-click="edit()"ng-hide="editable"> Edit</button>
            <button class="btn btnSave" ng-click="update(cadets)"ng-show="editable"> Save</button>
            <button class="btn btnCancel" ng-click="cancelUpdate()"ng-show="editable"> Cancel</button>
            <button class="btn btn-primary" ng-click="printToCart('print')">Print Current Roster</button>
                <label >Search</label><input type="text" ng-model="search" placeholder="Search">
        </div>
    </div> <!-- row-->

    <table class="table minerva-table">
        <thead>
            <tr>
                <th>Cadets</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <th ng-click="sort('PersonFN')">First Name</th>
            <th ng-click="sort('PersonLN')">Last Name</th>
            <th ng-click="sort('fkClassID')">Class ID</th>
            <th ng-click="sort('CadetRosterNumber')">Roster Number</th>
            <th ng-click="sort('fkCadetID')">Cadet ID</th>
            <th>Status</th>
        </tr>
        <tr dir-paginate="x in cadets|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">
            <td>{{x.PersonFN}}</td>
            <td>{{x.PersonLN}}</td>
            <td> {{x.fkClassID}}</td>
            <td>{{x.CadetRosterNumber}}</td>
            <td>{{x.fkCadetID}}</td>
            <td> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Cadet</a></li>
                    <li><a href="#">Graduate</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <dir-pagination-controls
            max-size="60"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</div>
</body>
