
<!--FIle:prap.view.html
Usesutility/attachments/attachments.view.html
Usesprap.controller.js
-->
<link rel="stylesheet" type="text/css" href="../../css/site.css">
<div class="container" id="prapContainer" ng-app="myApp" ng-controller="prapController"
	 xmlns="http://www.w3.org/1999/html">
	<form>
		<div>
			<div class="col-xs-12">
				<h1>PRAP</h1>
			</div>
		</div>
		<div>
			<!--When this button is clicked, the page becomes editable-->
			<button class="btn btnEdit" ng-click="editSection('contactNote')"> Edit</button><!--check this-->
		</div>

			<!-- this div is only viewable after the user clicks on edit -->
			<div ng-if="!NotEditable">
				<!-- the cancel button calls the cancelUpdate function to cancel the current input -->
				<button class="btn btnCancel" ng-click="cancelNotes()"> Cancel</button>
				<!-- the save button calls the saveContacts function when clicked to save the current
                input to the database -->
				<button class="btn btnSave" ng-click="saveNotes()"> Save</button>
				<button class="btn btnCreate" ng-click="addNote()"> Add Note</button>
			</div>

		<table id="notesTable">
			<tr ng-repeat="note in prapNotes track by $index">
				<!-- the attachments section is not visible until edit is clicked on -->
				<td>
					Created By
					<input type="text" ng-disabled="NotEditable" ng-model="note.NoteCreatedByName">
				</td>
				<td>
					Created Date
					<input type="text" ng-disabled="NotEditable" ng-model="note.NoteCreatedDate">
				</td>
				<td>
					Edited By
					<input type="text" ng-disabled="NotEditable" ng-model="note.NoteEditedByName">
				</td>
				<td>
					Edited Date
					<input type="text"ng-disabled="NotEditable" ng-model="note.NoteEditedDate">
				</td>
				<td>
					Note
					<textarea style="resize:vertical;" class="form-control" ng-disabled="NotEditable" ng-model="note.GenNote"></textarea>							<!--NOTE 1-->
				</td>
			</tr>
		</table>


                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-labelcol-xs-12">MentorContacts</legend>
                    </div>
                    <!-- this div is only viewable after the user clicks on edit -->
			<div ng-if="!NotEditable">
				<!-- the cancel button calls the cancelUpdate function to cancel the current input -->
				<button class="btn btnCancel" ng-click="cancelMentorContacts()"> Cancel</button>
				<!-- the save button calls the saveContacts function when clicked to save the current
                input to the database -->
				<button class="btn btnSave" ng-click="saveContacts()"> Save</button>
			</div>
			<div ng-repeat="contact in mentorContacts track by $index">
				<div class="form-inline">

					<div class="form-group col-md-2">
						<label>Date</label>
						<!-- this input is not editable until the user clicks edit -->
						<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="contact.ContactDate">
					</div>
					<div class="form-group col-md-2">
						<label>Type</label>
						<!-- this input is disabled until the user clicks edit -->
						<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="contact.MentorContactType">
					</div>
					<div class="form-group col-md-3">
						<label>Mentor</label>
						<!-- this input is disabled until the user clicks edit -->
						<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="contact.MentorName">
					</div>
					<div class="form-group col-md-4">
						<label>Note</label>
						<textarea rows="1" style="min-width: 100%"  class="form-control"  ng-disabled="NotEditable" ng-model="contact.MentorContactNote"></textarea>
					</div>
					<button ng-click="deleteContact($index)" class="btn btnDelete"> Delete</button>


				</div>

				<hr>
			</div>
			<div class="form-row">
				<div class="col-md-5d-noned-md-block"></div>
				<div class="form-rowjustify-content-centercol-md-2">
					<!-- the AddNote button is not visible until the user clicks the edit button -->
					<div ng-if="!NotEditable">
						<button class="btn btnCreate" ng-click="addMentorContactNote()" class="col-xs-12btn-danger"> Add Note</button>
					</div>
					<div class="col-md-5d-noned-md-block"></div>
				</div>
			</div>
		</fieldset>


		<fieldset class="form-group">
			<div class="row">
				<legend class="col-form-labelcol-xs-12">ActionPlan</legend>
			</div>
			<!-- the save and cancel buttons are not visible until the user clicks edit -->
			<div ng-if="!NotEditable">
				<button class="btn btnCancel" ng-click="cancelActionPlanAndGoals()"> Cancel</button>
				<button class="btn btnSave" ng-click="savePlan()"> Save</button>
			</div>

			<div class="form-row">
				<div class="col-md-1d-noned-md-block"></div>
				<div class="form-group col-md-2">
					<label class="">Category</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.PRAPCategory">
				</div>
				<div class="form-group col-md-2">
					<label>Sponsor</label>
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.PRAPSponsorID">
				</div>
				<div class="form-group col-md-2">
					<label>Initiated Date</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.PRAPInitDate">
				</div>
				<div class="form-group col-md-2">
					<label>Completed Date</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.PRAPCompleteDate">
				</div>
				<div class="form-group col-md-2">
					<label class="">Mentee Training Date</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.MenteeTrainingDate">
				</div>
				<div class="col-md-1d-noned-md-block"></div>
			</div>
		</fieldset>


		<fieldset class="form-group">
			<div class="row">
				<legend class="col-form-labelcol-xs-12">Goals</legend>
			</div>
			<!-- the cancel and save buttons are only visible after the user clicks the edit button-->
			<div ng-if="!NotEditable">
				<button class="btn btnCancel" ng-click="cancelActionPlanAndGoals()"> Cancel</button>
				<button class="btn btnSave" ng-click="saveGoals()"> Save</button>
			</div>
			<div class="form-row">
				<div class="col-md-1d-noned-md-block"></div>
				<div class="form-group col-md-2">
					<label>Short Term Date</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text"ng-disabled="NotEditable"class="form-control"ng-model="cadetClass.ShortTermGoalDate">
				</div>
				<div class="form-group col-md-3">
					<label>Short Term Details</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text"ng-disabled="NotEditable"class="form-control"ng-model="cadetClass.ShortTermGoal">
				</div>
				<div class="col-md-1d-noned-md-block"></div>
			</div>
			<div class="form-row">
				<div class="col-md-1d-noned-md-block"></div>
				<div class="form-group col-md-2">
					<label>Intermediate Term Date</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.IntermediateGoalDate">
				</div>
				<div class="form-group col-md-3">
					<label>Intermediate Term Details</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.IntermediateGoal">
				</div>
				<div class="col-md-1d-noned-md-block"></div>
			</div>
			<div class="form-row">
			<div class="form-row">
				<div class="col-md-1d-noned-md-block"></div>
				<div class="form-group col-md-2">
					<label>Long Term Date</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.LongTermGoalDate">
				</div>
				<div class="form-group col-md-3">
					<label>Long Term Details</label>
					<!-- the input box is disabled until the user clicks the edit button -->
					<input type="text" ng-disabled="NotEditable" class="form-control" ng-model="cadetClass.LongTermGoal">
				</div>
				<div class="col-md-1d-noned-md-block"></div>
			</div></div>
		</fieldset>
		<fieldset class="form-group">
			<div class="row">
				<legend class="col-form-labelcol-xs-12">Attachments</legend>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ng-include src="'./utility/attachments/attachments.view.html'"></ng-include>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<script>
	function addNote() {
		var table = document.getElementById("notesTable");
		var row = table.insertRow(table.length);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var cell3 = row.insertCell(2);
		var cell4 = row.insertCell(3);
		var cell5 = row.insertCell(4);
		cell1.innerHTML = "Created By <input type=\"text\" ng-model=\"note.NoteCreatedByName\">";
		cell2.innerHTML = "Created Date <input type=\"text\" ng-model=\"note.NoteCreatedDate\">";
		cell3.innerHTML = "Edited By <input type=\"text\" ng-model=\"note.NoteEditedByName\">";
		cell4.innerHTML = "Edited Date <input type=\"text\" ng-model=\"note.NoteEditedDate\">";
		cell5.innerHTML = "Note <textarea style=\"resize:vertical;\" ng-model=\"note.GenNote\"></textarea>";
	}
</script>