<div ng-controller="ctrl_homeOptions">
    <ng-include src="'./views/pagination.html'"></ng-include>

    <h1> Admin Services</h1>
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column">
                <button ng-repeat="item in adminViews"
                        type="button"
                        ng-click="showView(item)"
                        class="btn btn-outline-primary"
                        >
                        {{item.view}}
                </button>
            </nav>
        </div>
        <div class="col-md-10">
            <ng-include src="updateDisplay"></ng-include>
        </div>
    </div>
</div>