<!-- File: citizenship.view.html
     Used with: citizenship.conroller.js
     -->

<div class="well container infoContainer" id="citizenshipContainer">
	<h3>Citizenship</h3>
	<!--load app.controller from citizenship.controller.js-->
	<form name ="CitzForm">
	<div ng-controller="citizenshipController">
	<table border="1">
		<tr>
			<th>Task</th>
			<th>Description</th>
			<th>Last Activity</th>
			<th>Pass/Fail</th>
			<th>Note</th>
		</tr> 
		<!--iterate through each instance in scope from controller-->
		<tr ng-repeat="task in tasks" class="error"> 
			<td>{{task.TaskNumber}}</td>
			<td>{{task.Task}}</td>
			<td><span ng-if="task.TaskNumber!='5'"><input name="EventDate" type="text" ng-model="task.EventDate"></span>
			<span ng-if="task.TaskNumber=='5'"><input name="EventDate" type="text" ng-model="task.EventDate" ng-readonly="true"></span></td>
			
			<td><span ng-if="task.TaskNumber!='5'"><input name="DidPass" ng-model="task.DidPass" type="checkbox" ng-true-value="1" ng-false-value="0"></span>
			<span ng-if="task.TaskNumber=='5'"><input name="DidPass" ng-model="task.DidPass" type="checkbox" ng-true-value="1" ng-false-value="0" ng-readonly="true"></span></td>
		
			<td><span ng-if="task.TaskNumber!='5'"><input name="EventNote" type="text" ng-model="task.EventNote" data-ng-bind="note"></span>
			<span ng-if="task.TaskNumber=='5'"><input name="EventNote" type="text" ng-model="task.EventNote" data-ng-bind="note" ng-readonly="true"></span></td>
		</tr>
		<tr>
			<th>Test</th>
			<th>Last Activity</th>
			<th>Pass/Fail</th>
			<th>Score</th>
			<th>Note</th>
		</tr> 
		<!--iterate through each instance in scope from controller-->
		<tr ng-repeat="test in tests" class="error"> 
			<td>{{test.TaskTest}}</td>
			<td><input name="EventDate" type="text" ng-model="test.EventDate"></td>
			<td><input name="DidPass" ng-model="test.DidPass" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
			<td><input name="TestScore" type="te" ng-model="test.TestScore" data-ng-bind="score"></td>
			<td><input name="EventNote" type="text" ng-model="test.EventNote" data-ng-bind="note"></td>
		</tr>
	</table>
	<button ng-click="update(tasks, tests)">Update</button>
	<button ng-click="cancelUpdate()">Cancel Update</button>
</form>
{{msg}}
</div>
</div>