<div class="well">
    <div class="container">
        <span class="row">
        <div class="col-xs-4 m-2">
            <img class="logoURL">
        </div>
        <div class="col-xs-8 m-2">
    <div class="alert alert-info" ng-hide="authenticationError">
        Enter your username and password and click Log In to authenticate
    </div>

    <div class="alert alert-danger" ng-show="authenticationError">
        Authentication Failed( {{authenticationError.status}}). Try again.
    </div>
            <form name="authForm" novalidate>
                <div class="form-group">
                    <label>Username</label>
                    <input name="username" class="form-control" ng-model="username" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" class="form-control" type="password" ng-model="password" required />
                </div>
                <div class="text-center">
                    <button ng-click="authenticate(username, password)" ng-disabled="authForm.$invalid"
                            class="btn btn-primary">Log In
                    </button>
                </div>
            </form>

        </div>
            </span>
    </div>
</div>