<ul class="pagination pagination-lg">
    <li class="page-item"><a class="page-link" href="#!/homeOptions">Home</a></li>
    <li class="page-item"><a class="page-link" href="#!/adminModule">Admin</a></li>
    <li class="page-item"><a class="page-link" href="#!/error">Recruiter</a></li>
    <li class="page-item"><a class="page-link" href="#!/cadreModule">Cadre</a></li>
    <li class="page-item"><a class="page-link" href="#!/caseModule">Case Manager</a></li>
    <li class="page-item"><a class="page-link" href="#!/websiteModule">Website Manager</a></li>
</ul>
