<div>
    <h2>Adding A New Class</h2></h2>
    <form name="addClassForm" class="form-inline" id="adminClassForm" novalidate>
        <h1 style="background-color:lightgreen; font-family:Impact; text-align:center;">Create A Class</h1>
        <div class="jumbotron table-responsive ">
        <h4 style="font-family:sans-serif; color:darkslateblue;">General Information</h4>
        <table style="width:100%">
            <tr>
                <th>Class Number</th>
                <th>Class Year</th>
                <th>NGB</th>
                <th>Cycle</th>
                <th>ChalleNGe Start Date</th>
            </tr>
            <tr>
                <td><input type="number" ng-model="classNumber" required></td>

                <td><select ng-model="classYear" required >
                    <!--Tried to make it 'dynamic', but binding is giving issues. Will come back when other tasks are completed.-->
                    <option disabled selected value> -- select a year -- </option>
                    <option ng-bind="currentYear" ng-value="currentYear" ></option>
                    <option ng-bind="currentYear+1" ng-value="currentYear+1"></option>
                    <option ng-bind="currentYear+2" ng-value="currentYear+2"></option>
                    <option ng-bind="currentYear+3" ng-value="currentYear+3"></option>
                    <option ng-bind="currentYear+4" ng-value="currentYear+4"></option>
                    <option ng-bind="currentYear+5" ng-value="currentYear+5"></option>
                    <option ng-bind="currentYear+6" ng-value="currentYear+6"></option>
                    <option ng-bind="currentYear+7" ng-value="currentYear+7"></option>
                    <option ng-bind="currentYear+8" ng-value="currentYear+8"></option>
                    <option ng-bind="currentYear+9" ng-value="currentYear+9"></option>
                    <option ng-bind="currentYear+10" ng-value="currentYear+10"></option>
                </select></td>
                <td><input type="number" ng-model="NGB" required></td>
                <td><input type="number" ng-model="cycle" required></td>
                <td><input type="date" ng-model="challengeStartDate"required></td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th>Graduation Date</th>
                <th>Pr Completion Start Date</th>
                <th>Target Graduates</th>
                <th>Class Start Date</th>
                <th>Merit Base</th>
                <th>Sel Serv Age</th>
            </tr>
            <tr>
                <td><input type="date"  ng-model="graduationDate" required></td>
                <td><input type="date" ng-model="prCompletionDate" required></td>
                <td><input type="number" ng-model="targetGraduates"required></td>
                <td><input type="date" ng-model="classStartDate"required></td>
                <td><input type="number" ng-model="meritBase"required></td>
                <td><select ng-model="servAge" required>
                    <option disabled selected value> -- select an age -- </option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select></td>
            </tr>
        </table>
        <br>
        <hr>
        <br>
        <h4 style="font-family:sans-serif; color:darkslateblue;">Weekly Information</h4>
        <table style="width:100%">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr>
                <td><input type="date" ng-model="weeklyStart" ng-change="updateEndDate()"></td>
                <p>{{testVal}}</p>
                <td><input type="date" ng-model="weeklyEnd" disabled></td>
            </tr>
        </table>

    </div>
    <p style="text-align:center">
        <button ng-click="createClass()" type="submit" class="btn btn-lg btn-success" style="text-align: center">Submit Class</button>
    </p>
    </form>
</div>
