<!-- first name, last name, cadet id, application status-->
<form ng-submit="submit()" ng-controller="applicantFindController">
    <div class="container">
        <div id="personal-info-container" align = "center">
            <h3>{{applicant.ApplicantName}}</h3>
            <h3>{{applicant.ApplicantID}}</h3>
            <img src="./recruiter/exampleAppPic.png" alt="Applicant Photo">
        </div>
    </div>
    <br>
    <!-- <input id="myFile" name="file" type="file" ng-model="fileToUpload" class="">
                <button type="button" class="btn btn-outline-primary" ng-click="uploadFile()"> Upload</button>
            <br>
                <button type="button" ng-click="listFiles()">List Files</button>



                    <td style="width:100px">
                        <button ng-click="deleteContact($index)" class="btn btnDelete" ng-disabled="!editContacts"> Delete</button>

                    </td>
                </p>
                <br> -->


    <h3>Downloadable Files</h3>
    <ul>

        <li ng-repeat="user in fileList track by $index">
            <a href="{{fileList[$index]['Path']}}" download="{{fileList[$index]['Path']}}"> {{fileList[$index]["File"]}}</a>
        </li>
    </ul>


    <table class="table minerva-table">
        <thead>
        <tr>
            <th colspan="5">DOCUMENTS</th>
        </tr>
        </thead>
        <tr>
            <th>File Description</th>
            <th>Status</th>
            <th>Upload File</th>
            <th>Required Document</th>
            <th>Notes</th>
        </tr>
        <tr ng-repeat="required in requiredFileList track by $index">
            <td>{{requiredFileList[$index]['FileName']}}
            </td>
            <td><div ng-if="contains(requiredFileList[$index]['FileName'])">Not Received</div>
                <div ng-if="!contains(requiredFileList[$index]['FileName'])"> Received</div>
            </td>
            <td><input id="{{requiredFileList[$index]['FileName']}}" name="file" type="file" ng-model="fileToUpload" class="">
                <button type="button" class="btn" ng-click="uploadFile(requiredFileList[$index]['FileName'])"> Upload</button>
            </td>
            <td>
                <div ng-if="requiredFileList[$index]['isRequired']==1">Required document.</div>
                <div ng-if="requiredFileList[$index]['isRequired']!=1">Not required document.</div>
            </td>
            <td>{{required.Note}}</td>

        </tr>
    </table>

</form>