<div class="panel panel-default " ng-controller="caseManagerController" >
CASE MANAGER
    <div>
        <ul class="pagination pagination-lg">
            <li class="page-item" ng-repeat="item in caseManagerViews"> <!--nav flex-row-->
                <a class="page-link"  ng-click="showView(item)">{{item.view}}</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <!-- <button data-toggle="collapse" data-target="#sidebar">Toggle CadetInfo</button> -->
        <span onclick="openNav()"><button type="button" class="btn">Cadet Info</button></span>
        Cadet: {{cadet.CadetName}}  ({{cadet.CadetID}})
        <button class="btn btnSearch" ng-click="openFindCadetView()">Find Cadet</button>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>
        <img src={{cadet.Photo}} height="100" width="100">
        <div>{{cadet.CadetName}}</div>
        <div>{{cadet.CadetID}}</div>
        <div>{{cadet.CadetGender}}</div>
        <div>{{cadet.CadetDOB}}</div>
        <hr>
        <ul>
            <li ng-repeat="item in cadets"><a href ng-click= "localStorageUpdate(item)">{{item.PersonLN}}, {{item.PersonFN}}</a></li>
        </ul>
        <!-- add buffer to end of list for scrolling -->
        <br/>
        <br/>
        <p> </p>
    </div>
    <br><br>

    <div class="col-md-10">
            <ng-include src="updateDisplay"></ng-include>
    </div>
</div>
