<!--ng-controller="ctrl_FindSiteLookup"-->
<style>
    .selected {
        background-color: lightgoldenrodyellow !important;
    }
</style>
<div>
    <ng-include src="'./views/pagination.html'"></ng-include>
    <h2>Update Dropdown Menu options </h2>


    Filter: <input type="test" ng-model="lookupSearch"><br/>

    <!-- one row has two columns -->
    <div class="row">
        <div class="col-md-5 p-1" style="margin-top: 20px; height: 500px; overflow: auto;" >  <!--add spacing between colums with the padding p-2-->
            <div>
                <table id="dropdownSelectTable" class="table table-striped table-bordered"  >
                    <tr>
                        <th >TableName</th>
                        <th  class = "text-center">Description</th>
                    </tr>
                    <!-- option 2:  use a filter to only show certain fields without call to the server -->
                    <tr ng-repeat="x in lookups | filter:lookupSearch " ng-click="pickLookup(x, $index)" ng-class="{selected: $index === rowSelected}">
                        <td ng-hide="false">{{x.TableName}}</td>
                        <td>{{x.Description}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <!-- to force updated added time stamp so it wont be stored in cache" -->
            <!-- <ng-include src="'./views/dropdown.html'+'?updated=' + updateTime"></ng-include> -->
            <ng-include src="updateDisplay"></ng-include>
        </div>
    </div>  <!--row-->
</div>