<!--site-viewgraduates.html-->
<!--view page for Admin  tab-->
<!-- Programmer: Lauren Alibey -->
<!-- This code shares a scope with site.viewgraduates.controller.js -->

<h3>Graduates</h3>
<!--load app.controller from ViewGraduatesController.js-->

<div ng-controller = "viewGraduates">
    <div id = "print">
    <div class = "row">
        <div class="dropdown">
            <button class="btn btnEdit" ng-click="makeTasksEditable()"ng-hide="editTasks"> Edit</button>
            <button class="btn btnSave" ng-click="saveTasksUpdate(tasks)"ng-show="editTasks"> Save</button>
            <button class="btn btnCancel" ng-click="cancelTasksUpdate()"ng-show="editTasks"> Cancel</button>
            <button class="btn btn-primary" ng-click="printToCart('print')">Print Current Roster</button>
            <label >Search</label><input type="text" ng-model="search" placeholder="Search">
        </div>
    </div> <!-- row-->
    <table class="table minerva-table">
        <tr>
            <th ng-click="sort('PersonFN')">First Name</th>
            <th ng-click="sort('PersonLN')">Last Name</th>
            <th ng-click="sort('fkClassID')">Class ID</th>
            <th ng-click="sort('CadetRosterNumber')">Roster Number</th>
            <th ng-click="sort('CadetID')">Cadet ID</th>

        </tr>
        <tr dir-paginate="x in graduates|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">
            <td>{{x.PersonFN}}</td>
            <td>{{x.PersonLN}}</td>
            <td> {{x.fkClassID}}</td>
            <td>{{x.CadetRosterNumber}}</td>
            <td>{{x.fkCadetID}}</td>
            <td> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Cadet</a></li>
                    <li><a href="#">Graduate</a></li>
                </ul>
            </td>
        </tr>
    </table>
    </div>
    <dir-pagination-controls
            max-size="60"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</div>