<!--site-viewgraduates.html-->
<!--view page for Admin  tab-->
<!-- Programmer: Lauren Alibey -->
<!-- This code shares a scope with site.viewgraduates.controller.js -->

<h3>Graduates</h3>
<!--load app.controller from ViewGraduatesController.js-->

<div ng-controller = "viewGraduates">
    <div class = "row" id="print">
        <div class="dropdown">
            <button class="btn btnEdit" ng-click="makeTasksEditable()"ng-hide="editTasks"> Edit</button>
            <button class="btn btnSave" ng-click="saveTasksUpdate(tasks)"ng-show="editTasks"> Save</button>
            <button class="btn btnCancel" ng-click="cancelTasksUpdate()"ng-show="editTasks"> Cancel</button>
            <button class="btn btn-primary" ng-click="printToCart('print')">Print Current Roster</button>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By:
                <span class="caret"></span></button>
            <div class="dropdown-menu">
                <li><a href="#">First Name</a></li>
                <li><a href="#">Last Name</a></li>
            </div>
            <div class = "form-group row">
                <!-- don't forget this white space-->
            </div>
        </div>
    </div> <!-- row-->
    <table class="table minerva-table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr ng-repeat="x in graduates">
            <td>{{x.PersonFN}}</td>
            <td>{{x.PersonLN}}</td>
        </tr>
    </table>
</div>